@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500;700&family=Open+Sans:wght@300;600&display=swap');

:root {
  --beige: #E7E0D1;
  --grey: #43454F;
  --green: #768E77;
  --button-pressed: #4D5A4D;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}


h1 {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 700;
  font-size: 94px;
  line-height: 83.1%;
  color: var(--beige);
}

h2 {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  line-height: 51px;
  color: var(--grey);
}

.subtitle {
  font-family: 'Cormorant SC';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--grey);
}

.text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 156.3%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 32px;
  }

  .subtitle {
    font-size: 20px;
  }

  .text {
    font-size: 14px;
  }

}

.link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 156.3%;
  color: #FFFFFF;
  opacity: 0.7;
}

.link:hover {
  opacity: 1;
}

.main-button {
  padding: 20px 80px;
  background: var(--green);
  border-radius: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 156.3%;
  cursor: pointer;
  color: var(--beige);
}

.main-button:hover {
  background: #768E77;
  opacity: 0.8;
}

.main-button-pressed {
  animation: secondary-pressed 1s;
}

@keyframes main-pressed {
  from {
    background: var(--button-pressed);
  }

  to {
    background-color: var(--green);
  }
}

.secondary-button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 156.3%;
  color: #FFFFFF;
  opacity: 0.7;
  padding: 20px 80px;
  border: 1px solid #768E77;
  cursor: pointer;
  border-radius: 10px;
}

.secondary-button:hover {
  background: var(--green);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 156.3%;
}

.secondary-button-pressed {
  animation: secondary-pressed 1s;
}

@keyframes secondary-pressed {
  from {
    background: var(--button-pressed);
    border: var(--button-pressed);
  }

  to {
    background-color: var(--grey);
    border: 1px solid #768E77;

  }
}

@media (max-width: 768px) {

  .main-button {
    font-size: 20px;
  }

  .secondary-button {
    font-size: 14px;
    padding: 15px 60px;
  }
}


.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-top: 42px;
}

nav {
  background-color: var(--grey);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 60px;
  width: 462px;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    max-width: 100%;
    margin: 0 24px;
  }
}

.logo {
  width: 127px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 29px;
}

.banner {
  margin-top: 0;
  background-color: var(--grey);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 144px;
}

.banner__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 80px;
}

.banner__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  color: var(--beige);
  gap: 30px;
}

@media (max-width:1000px) {

  .banner {
    height: 776px;
    position: relative;
  }

  .banner__content {
    height: inherit;
  }

  .banner__content img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 629px;
  }

  .banner__left {
    position: absolute;
    bottom: 100px;
    width: 355px;
  }

}



@media (max-width:768px) {
  .banner {
    height: 546px;
    position: relative;
  }

  .banner__content {
    height: inherit;
  }

  .banner__content img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 450px;
  }

  .banner__left {
    position: absolute;
    bottom: 60px;
    width: 355px;
  }

}

@media (max-width: 400px) {
  .banner {
    height: 705px;
    position: relative;
  }

  .banner__content {
    height: inherit;
    padding: 100px 0;
  }

  .banner__content img {
    display: none;
  }

  .banner__left {
    width: 312px;
    bottom: revert;
  }
}



.skills {
  padding: 120px 0;
  background-color: #fff;
}

.skills__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  max-width: 280px;
  gap: 30px;
}

.card p {
  text-align: center;
}

@media (max-width:768px) {
  .card {
    min-width: 227px;
  }
}

@media (max-width:400px) {
  .skills__cards {
    justify-content: center;
  }
}

.projects {
  background: var(--beige);
}

.projects,
.footer {
  padding: 120px;
  color: var(--grey);
}

.carousel,
.skills__cards,
.contacts {
  margin-top: 80px;
  color: var(--grey);
}

.carousel-block {
  margin-left: 25px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  outline: 0;
  transition: all .5s;
  z-index: 1000;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  padding: 10px;
  opacity: 1;
  background-color: inherit;
}

.arrow-left {
  left: 0px;
  background-image: url('./assets/left-arrow.png') !important;
}

.arrow-right {
  right: 0;
  background-image: url('./assets/right-arrow.png') !important;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 100px;
  margin-top: 80px;
}

.contacts__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 15px;
}

.contact {
  text-align: center;
}

#secondcol {
  position: relative;
}

#secondcol::before,
#secondcol::after {
  content: '';
  position: absolute;
  top: 25%;
  height: 70px;
  width: 1px;
  background-color: #000;
}

.contact a {
  color: var(--grey);
  display: inline-block;
  text-decoration: underline;
  padding: 0px 10px;
}

#secondcol::before {
  left: -50px;
}

#secondcol::after {
  right: -50px;
}

#firstcol .contact {
  text-align: right;
}

#thirdcol .contact {
  text-align: left;
}

@media (max-width:400px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;

  }

  .contacts__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;
  }

  #secondcol::after {
    top: 140px;
    rotate: 90deg;
    right: 50%;
  }


  #secondcol::before {
    top: -60px;
    left: 50%;
    rotate: 90deg;
  }

  #firstcol .contact, #thirdcol .contact  {
    text-align: center;
  }
}